<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jordanschmuckler.mystethoscope" >
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/stethoscope"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
            </intent-filter>
        </activity>
        <activity android:name=".DataDisplay" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".NewRecordingActivity"

            android:label="@string/title_activity_new_recording">
        </activity>
    </application>

</manifest>
